@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Welcome</h2>
    <p>This app covers following stuff in Asp.Net Core.:</p>
</div>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ASP.NET Core MVC Web App</li>
        <li class="list-group-item">ASP.NET Core Identity (SQL Server)</li>
        <li class="list-group-item">Entity Framework Core (SQL Server)</li>
        <li class="list-group-item">Authentication using Identity</li>
        <li class="list-group-item">Role based authorization using Identity</li>
        <li class="list-group-item">Policy based authorization</li>
        <li class="list-group-item">Serilog for logging (logging into Console, Text File, Json File and Seq)</li>
        <li class="list-group-item">Custom Middleware</li>
        <li class="list-group-item">AutoMapper</li>
        <li class="list-group-item">XUnit for Unit testing</li>
        <li class="list-group-item">SendGrid (Email)</li>
    </ul>
</div>
